.button {
  font-weight: 700;
  padding-right: 1rem;
  padding-left: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  width: fit-content;

  color: #fff;
  text-decoration: none;
}
