@import './media.scss';

.badges {
  display: flex;
  gap: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.652rem;
  line-height: 1rem;
  letter-spacing: 0.03125rem;
  margin-bottom: 1.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  row-gap: 2rem;
  margin-bottom: 3rem;
}

.card {
  padding: 1rem;
  background-color: #111215;
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  text-decoration: none;

  @include for-size(tablet-landscape-up) {
    width: 19rem;
  }

  > div {
    color: #fff;
    background-color: #5c87e7;
    border-radius: 0.75rem;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 0;
  }
  &__description {
    margin-top: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
}
