.text {
  &__h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #fff;
  }

  &__h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff;
  }

  &__h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #fff;
  }

  &__h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: #fff;
  }

  &__p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: var(--text-body);
  }

  &__a {
    text-decoration: none;
  }

  &__span {
    color: #fff;
  }

  &__tertiary {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;

    &::before {
      content: '';
      position: absolute;
      margin-left: -0.95rem;
      height: 1.75rem;
      width: 0.25rem;
      border-radius: 0.75rem;
      background-color: #5c87e7;
    }
  }
}
