@import './media.scss';

.sidebar {
  background-color: #111215;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  flex-shrink: 0;

  @include for-size(tablet-landscape-up) {
    width: 17.25rem;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
  }

  &__logotype {
    color: #fff;

    @include for-size(tablet-landscape-up) {
      margin-bottom: 4rem;
    }
  }

  &__menu {
    display: flex;
    gap: 1.5rem;

    @include for-size(tablet-landscape-up) {
      flex-direction: column;
    }

    > a {
      color: #999ca0;
      font-size: var(--text-general);
      line-height: 1.25rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}
