@import '@fontsource/mulish';
@import '@fontsource/mulish/700';

:root {
	font-family: 'Mulish', Ubuntu, Roboto, 'Open Sans', 'Helvetica Neue', 'Segoe UI',
		BlinkMacSystemFont, -apple-system, Cantarell, Arial, sans-serif;
	font-size: 125%;
	letter-spacing: 0.005rem;

	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;

	--primary: #5c87e7;
	--gen-text: #fefefe;
	--control-label: #343434;
	--gen-background: #1f1d1d;
	--black: #121111;
	--link: #005bd1;
	--link-visited: #528fdf;
	--success: #0dc268;
	--error: #ed0a34;
	--notify: #ff9e00;

	--primary-background: #1b1c1f;
	--secondary-background: #111215;
	--dimmed: #999ca0;
	--pure-white: #ffffff;

	--header-width: 13.8rem;

	/* TODO: Delete */
	--primary-color: var(--primary-background);
	--secondary-color: var(--secondary-background);
	--tertiary-color: #22242c;
	--accent-color: var(--primary);
	--heading-color: var(--pure-white);
	--text-color: var(--gen-text);
	--dimmed-text-color: var(--dimmed);
	--discord-color: var(--primary);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-background);
}

#root {
	min-height: 100vh;
	display: flex;
}

h1 {
	font-size: 1.6rem;
	line-height: 2rem;
}

h2 {
	font-size: 1.2rem;
	line-height: 1.6rem;
}

h3 {
	font-size: 1rem;
	line-height: 1.4rem;
}

body {
	font-size: 1rem;
	line-height: 1.3rem;
}

h1,
h2,
h3 {
	font-weight: 700;
	margin: 0;
}

h1 {
	color: var(--pure-white);
}

h2,
h3,
body {
	color: var(--gen-text);
}

h3 {
	padding-left: 0.8rem;
}

h3::before {
	position: absolute;
	content: '';
	margin-left: -0.8rem;
	width: 0.2rem;
	height: 1.4em;
	border-radius: 1em;
	background-color: var(--primary);
}

a {
	color: var(--link);
	text-decoration: none;
}

a:visited {
	color: var(--link-visited);
}

a:hover {
	text-decoration: underline;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
	border: none;
	border-radius: 8px;
	background-color: var(--primary);
	color: var(--pure-white);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
