@import '@fontsource/fira-mono';
@import '@fontsource/roboto';

:root {
	font-family: 'Roboto', Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', 'Segoe UI',
		BlinkMacSystemFont, -apple-system, Cantarell, Arial, sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #141519;
	--secondary-color: #191a1f;
	--tertiary-color: #22242c;
	--accent-color: #5c87e7;
	--accent-gradient: radial-gradient(
		57.5% 193.26% at 54.77% 50%,
		#71a9eb 0%,
		#5c87e7 72.92%,
		#6f8dd0 100%
	);
	--heading-color: #f4f4f6;
	--text-color: #e5e5ea;
	--dimmed-text-color: #777b85;

	--discord-color: #5965f1;

	--code-bg: rgba(66, 66, 66, 0.45);
	--code-shadow: rgba(0, 0, 0, 0.4);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
}

#root {
	min-height: 100vh;
	display: flex;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: var(--code-bg);
	border-radius: 3px;
	box-shadow: 1px 1px 6px var(--code-shadow);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

button {
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1.5rem;
	background-color: var(--tertiary-color);
	color: var(--pure-white);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
