.breadcrumbs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
  line-height: 1.25rem;
  font-size: var(--text-general);
  > div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #fff;

    > a {
      text-decoration: none;
    }
  }
}
